@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap");
nav {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "logo link botones";
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
}
nav .botones-nav {
  background-color: rgba(20, 20, 20, 0.5490196078);
  border-radius: 2px;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}
nav .botones-nav:hover {
  background-color: rgb(15, 15, 15);
  color: lemonchiffon;
  border: black solid 1px;
  transition: all 1s;
}
nav .botones-nav:hover p {
  color: rgb(134, 131, 131);
  transition: all 1s;
}
nav #nav {
  display: grid;
  grid-area: logo;
  display: flex;
  flex-direction: row;
}
nav #link {
  display: grid;
  grid-area: link;
  display: flex;
}
nav #botones {
  display: grid;
  grid-area: botones;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
nav #botones div {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav #botones div a {
  width: 90%;
  height: 90%;
}
nav a {
  display: flex;
  text-decoration: none;
  color: lemonchiffon;
  font-family: "roboto", sans-serif;
  align-items: center;
  justify-content: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
nav li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

nav div {
  width: 100%;
  height: 100%;
}
nav div img {
  margin: 7px;
}
nav div h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
  color: lemonchiffon;
}

header {
  background-image: url(../img/header/header3.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr;
  grid-template-rows: 100%;
  grid-template-areas: "h-col1 h-col2 h-col3";
  height: 513px;
  color: white;
  padding-top: 50px;
}
header p {
  color: whitesmoke;
}
header h1 {
  color: lemonchiffon;
}
header .h-col1 {
  display: grid;
  grid-area: h-col1;
  display: flex;
  justify-content: flex-start;
}
header .h-col1 img {
  width: 250x;
  height: 250px;
}
header .h-col2 {
  display: grid;
  grid-area: h-col2;
  display: flex;
  justify-content: flex-start;
  padding-top: 3rem;
  align-items: flex-start;
  flex-direction: column;
}
header .h-col3 {
  display: grid;
  grid-area: h-col3;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: rgb(0, 0, 0);
  background-image: url(../img/canva/10.png);
  background-repeat: no-repeat;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 0.7fr 1.5fr 0.7fr;
  grid-template-rows: 100%;
  grid-template-areas: "div-title-1 div-title-2 div-title-3";
}
footer div {
  border: red solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #div-title-1 {
  display: grid;
  grid-area: div-title-1;
}
footer #div-title-2 {
  display: grid;
  grid-area: div-title-2;
}
footer #div-title-3 {
  display: grid;
  grid-area: div-title-3;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-start {
  display: flex;
  justify-content: flex-start;
}

.input-css {
  padding: 4px;
  width: 100%;
  font-size: 16px;
  border-color: black(0, 0%, 0%);
  background-color: #FFFFFF;
  color: #000000;
  border: black solid 0px 1px 0px 0px;
  border-radius: 7px;
  box-shadow: 0px 0px 3px rgba(66, 66, 66, 0.67);
  text-shadow: 0px 0px 6px rgba(66, 66, 66, 0);
}

.input-css:focus {
  outline: none;
}

.section1-gestoria {
  background-color: black;
  display: grid;
  grid-template-rows: 0.2fr 3fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "title-sec title-sec title-sec" "article1 article2 article3";
}
.section1-gestoria div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.section1-gestoria #title-sec {
  display: grid;
  grid-area: title-sec;
  margin: 8px;
}
.section1-gestoria #article1 {
  display: grid;
  grid-area: article1;
}
.section1-gestoria #article2 {
  display: grid;
  grid-area: article2;
}
.section1-gestoria #article3 {
  display: grid;
  grid-area: article3;
}
.section1-gestoria .div-img-radio-50 {
  border-radius: 50%;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.section1-gestoria .article1-sec2 {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
  grid-template-areas: "service-img" "sub_title";
}
.section1-gestoria .article1-sec2 #service-img {
  display: grid;
  grid-area: service-img;
  margin-top: 20px;
}
.section1-gestoria .article1-sec2 #sub_title {
  display: grid;
  grid-area: sub_title;
  margin-top: 20px;
}
.section1-gestoria .efecto:hover {
  background-color: white;
  font-size: 50px;
  border: rgb(255, 255, 255) solid 8px;
  color: rgb(32, 32, 32);
  transition: all 1s;
  cursor: pointer;
}
.section1-gestoria .article2-sec2 {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
  grid-template-areas: "service-img" "sub_title";
}
.section1-gestoria .article2-sec2 #service-img {
  display: grid;
  grid-area: service-img;
  margin-top: 20px;
}
.section1-gestoria .article2-sec2 #sub_title {
  display: grid;
  grid-area: sub_title;
  margin-top: 20px;
}
.section1-gestoria .article3-sec2 {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
  grid-template-areas: "service-img" "sub_title";
}
.section1-gestoria .article3-sec2 #service-img {
  display: grid;
  grid-area: service-img;
  margin-top: 20px;
}
.section1-gestoria .article3-sec2 #sub_title {
  display: grid;
  grid-area: sub_title;
  margin-top: 20px;
}

.img-icono {
  width: 7px;
  height: 100px;
}

.section2-gestoria {
  margin-top: 10px;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  grid-template-columns: 100%;
  grid-template-areas: "title-sec " "article-section2";
}
.section2-gestoria .title-sec {
  display: grid;
  grid-area: title-sec;
  width: 100%;
}
.section2-gestoria .article-section2 {
  display: grid;
  grid-area: article-section2;
  grid-template-rows: 0.1fr 1fr;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: "title-art1 title-art2 title-art3" "dato-usuario dato-factura dato-factura-visual";
}
.section2-gestoria .article-section2 .title-art1 {
  display: grid;
  grid-area: title-art1;
}
.section2-gestoria .article-section2 .title-art2 {
  display: grid;
  grid-area: title-art2;
}
.section2-gestoria .article-section2 .title-art3 {
  display: grid;
  grid-area: title-art3;
}
.section2-gestoria .article-section2 .dato-usuario {
  display: grid;
  grid-area: dato-usuario;
  justify-content: flex-start;
  grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-template-columns: 100%;
  grid-template-areas: "nombre-grid" "apellido-grid" "dni-grid" "correo-grid";
}
.section2-gestoria .article-section2 .dato-usuario .nombre-grid {
  display: grid;
  grid-area: nombre-grid;
}
.section2-gestoria .article-section2 .dato-usuario .apellido-grid {
  display: grid;
  grid-area: apellido-grid;
}
.section2-gestoria .article-section2 .dato-usuario .dni-grid {
  display: grid;
  grid-area: dni-grid;
}
.section2-gestoria .article-section2 .dato-usuario .correo-grid {
  display: grid;
  grid-area: correo-grid;
}
.section2-gestoria .article-section2 .dato-factura {
  display: grid;
  grid-area: dato-factura;
  justify-content: flex-start;
  grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-template-columns: 100%;
  grid-template-areas: "totalBruto_grid" "iva_grid" "irpf_grid" "totalDeducciones_grid" "gasto_grid";
}
.section2-gestoria .article-section2 .dato-factura .totalBruto_grid {
  display: grid;
  grid-area: totalBruto_grid;
}
.section2-gestoria .article-section2 .dato-factura .iva_grid {
  display: grid;
  grid-area: iva_grid;
}
.section2-gestoria .article-section2 .dato-factura .irpf_grid {
  display: grid;
  grid-area: irpf_grid;
}
.section2-gestoria .article-section2 .dato-factura .totalDeducciones_grid {
  display: grid;
  grid-area: totalDeducciones_grid;
}
.section2-gestoria .article-section2 .dato-factura .gasto_grid {
  display: grid;
  grid-area: gasto_grid;
}
.section2-gestoria .article-section2 .dato-factura-visual {
  display: grid;
  grid-area: dato-factura-visual;
  grid-template-rows: 0.2fr 0.2fr 0.2fr;
  grid-template-columns: 100%;
  grid-template-areas: "gasto_grid" "ingreso_grid" "personalizada_grid";
}
.section2-gestoria .article-section2 .dato-factura-visual .gasto_grid {
  display: grid;
  grid-area: gasto_grid;
}
.section2-gestoria .article-section2 .dato-factura-visual .ingreso_grid {
  display: grid;
  grid-area: ingreso_grid;
}
.section2-gestoria .article-section2 .dato-factura-visual .personalizada_grid {
  display: grid;
  grid-area: personalizada_grid;
}
.section2-gestoria article {
  box-shadow: 5px 15px 7px 5px rgb(0, 0, 0);
  color: black;
  border: black solid 5px;
  background-color: white;
}
.section2-gestoria article h2 {
  text-align: center;
}

.section3-gestoria {
  margin-top: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  display: grid;
  grid-template-rows: 0.2fr 3fr;
  grid-template-columns: 25% 25% 25%;
  grid-template-areas: "title-sec  title-sec  title-sec" "section3-aticle1 section3-aticle2 section3-aticle3";
}
.section3-gestoria .title-sec {
  display: grid;
  grid-area: title-sec;
  margin: 8px;
}
.section3-gestoria .section3-aticle1 {
  display: grid;
  grid-area: section3-aticle1;
}
.section3-gestoria .section3-aticle2 {
  display: grid;
  grid-area: section3-aticle2;
}
.section3-gestoria .section3-aticle3 {
  display: grid;
  grid-area: section3-aticle3;
}
.section3-gestoria article {
  border-radius: 10px;
  box-shadow: 5px 15px 7px 5px rgb(0, 0, 0);
  color: black;
  border: black solid 5px;
  background-color: white;
}
.section3-gestoria article h2 {
  text-align: center;
}

.div-factura1 {
  color: black;
  background-color: white;
  display: grid;
  grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-template-columns: 100%;
  grid-template-areas: "title-factura" "concepto" "fecha" "total" "irpf" "iva" "boton" "factura-visual";
}
.div-factura1 .title-factura {
  display: grid;
  grid-area: title-factura;
  background-color: green;
}
.div-factura1 .concepto {
  display: grid;
  grid-area: concepto;
}
.div-factura1 .fecha {
  display: grid;
  grid-area: fecha;
}
.div-factura1 .total {
  display: grid;
  grid-area: total;
}
.div-factura1 .irpf {
  display: grid;
  grid-area: irpf;
}
.div-factura1 .iva {
  display: grid;
  grid-area: iva;
}
.div-factura1 .boton {
  display: grid;
  grid-area: boton;
}
.div-factura1 .factura-visual {
  display: grid;
  grid-area: factura-visual;
  background-color: whitesmoke;
}

.div-factura2 {
  color: black;
  background-color: whitesmoke;
  display: grid;
  grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-template-columns: 100%;
  grid-template-areas: "title-factura" "concepto" "fecha" "total" "irpf" "iva" "boton" "factura-visual";
}
.div-factura2 .title-factura {
  display: grid;
  grid-area: title-factura;
  background-color: red;
}
.div-factura2 .concepto {
  display: grid;
  grid-area: concepto;
}
.div-factura2 .dni {
  display: grid;
  grid-area: dni;
}
.div-factura2 .fecha {
  display: grid;
  grid-area: fecha;
}
.div-factura2 .archivo {
  display: grid;
  grid-area: archivo;
}
.div-factura2 .total {
  display: grid;
  grid-area: total;
}
.div-factura2 .irpf {
  display: grid;
  grid-area: irpf;
}
.div-factura2 .iva {
  display: grid;
  grid-area: iva;
}
.div-factura2 .boton {
  display: grid;
  grid-area: boton;
}
.div-factura2 .factura-visual {
  display: grid;
  grid-area: factura-visual;
  background-color: white;
}

.div-factura3 {
  color: black;
  background-color: white;
  display: grid;
  grid-template-rows: 0.2fr 0.1fr 0.1fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-template-columns: 100%;
  grid-template-areas: "title-factura" "razon_social" "dni" "fecha" "total" "irpf" "iva" "boton" "factura-visual";
}
.div-factura3 .title-factura {
  display: grid;
  grid-area: title-factura;
  background-color: blue;
}
.div-factura3 .razon_social {
  display: grid;
  grid-area: razon_social;
}
.div-factura3 .dni {
  display: grid;
  grid-area: dni;
}
.div-factura3 .fecha {
  display: grid;
  grid-area: fecha;
}
.div-factura3 .total {
  display: grid;
  grid-area: total;
}
.div-factura3 .irpf {
  display: grid;
  grid-area: irpf;
}
.div-factura3 .iva {
  display: grid;
  grid-area: iva;
}
.div-factura3 .boton {
  display: grid;
  grid-area: boton;
}
.div-factura3 .factura-visual {
  display: grid;
  grid-area: factura-visual;
  background-color: whitesmoke;
}

.display-none {
  display: none;
}

.article1-sec2-gestoria {
  width: 100%;
}

.btc {
  display: flex;
  flex-direction: row;
  color: red;
}

.precioDolar p {
  font-size: 20px;
  color: red;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

body {
  font-family: "roboto", sans-serif;
  display: flex;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "head" "main" "footer";
}
body #head {
  display: grid;
  grid-area: head;
}
body #main {
  display: grid;
  grid-area: main;
}
body #footer {
  display: grid;
  grid-area: footer;
}

main {
  background-color: rgb(27, 26, 26);
  color: whitesmoke;
  padding-bottom: 8px;
  display: grid;
  grid-template-rows: 1fr 1.3fr 1fr;
  grid-template-columns: 100%;
  grid-template-areas: "section1-main" "section2-main" "section3-main";
}
main section {
  height: 100%;
  padding-bottom: 10px;
}
main #title-main {
  display: grid;
  grid-area: title-main;
  margin: 8px;
}
main #section1-main {
  display: grid;
  grid-area: section1-main;
}
main #section2-main {
  display: grid;
  grid-area: section2-main;
}
main #section3-main {
  display: grid;
  grid-area: section3-main;
}
main .section1 {
  display: grid;
  grid-template-rows: 0.2fr 3fr;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-areas: "title-sec  title-sec  title-sec" "article1 article2 article3";
}
main .section1 #title-sec {
  display: grid;
  grid-area: title-sec;
  margin: 8px;
  height: auto;
}
main .section1 #article1 {
  display: grid;
  grid-area: article1;
}
main .section1 #article2 {
  display: grid;
  grid-area: article2;
}
main .section1 #article2 h2 {
  text-align: center;
}
main .section1 #article3 {
  display: grid;
  grid-area: article3;
}
main .section1 .article1-sec1 {
  background-color: black;
  display: flex;
  justify-content: center;
  justify-content: center;
}
main .section1 .article1-sec1 img {
  width: 100%;
  height: 100%;
}
main .section1 .article2-sec1 {
  display: flex;
  justify-content: center;
  align-content: space-around;
  text-align: center;
}
main .section1 .article3-sec1 ol {
  list-style-type: upper-latin;
}
main .section2 {
  padding-bottom: 20px;
  margin-top: 10px;
  height: 100%;
  background-color: black;
  display: grid;
  grid-template-rows: 0.2fr 3fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "title-sec  title-sec  title-sec" "article1 article2 article3";
}
main .section2 div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
main .section2 #title-sec {
  display: grid;
  grid-area: title-sec;
  margin: 8px;
}
main .section2 #article1 {
  display: grid;
  grid-area: article1;
}
main .section2 #article2 {
  display: grid;
  grid-area: article2;
}
main .section2 #article3 {
  display: grid;
  grid-area: article3;
}
main .section2 .div-img-radio-50 {
  border-radius: 50%;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}
main .section2 .article1-sec2 {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
  grid-template-areas: "service-img" "sub_title";
}
main .section2 .article1-sec2 #service-img {
  display: grid;
  grid-area: service-img;
  margin-top: 20px;
}
main .section2 .article1-sec2 #sub_title {
  display: grid;
  grid-area: sub_title;
  margin-top: 20px;
}
main .section2 .efecto:hover {
  background-color: white;
  font-size: 50px;
  border: rgb(255, 255, 255) solid 8px;
  color: rgb(32, 32, 32);
  border-radius: 10px;
  transition: all 1s;
  cursor: pointer;
}
main .section2 .article2-sec2 {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
  grid-template-areas: "service-img" "sub_title";
}
main .section2 .article2-sec2 #service-img {
  display: grid;
  grid-area: service-img;
  margin-top: 20px;
}
main .section2 .article2-sec2 #sub_title {
  display: grid;
  grid-area: sub_title;
  margin-top: 20px;
}
main .section2 .article3-sec2 {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
  grid-template-areas: "service-img" "sub_title";
}
main .section2 .article3-sec2 #service-img {
  display: grid;
  grid-area: service-img;
  margin-top: 20px;
}
main .section2 .article3-sec2 #sub_title {
  display: grid;
  grid-area: sub_title;
  margin-top: 20px;
}

.section3 {
  margin-top: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  display: grid;
  grid-template-rows: 0.2fr 3fr;
  grid-template-columns: 25% 25% 25%;
  grid-template-areas: "title-sec  title-sec  title-sec" "article1 article2 article3";
}
.section3 #title-sec {
  display: grid;
  grid-area: title-sec;
  margin: 8px;
}
.section3 #article1 {
  display: grid;
  grid-area: article1;
}
.section3 #article2 {
  display: grid;
  grid-area: article2;
}
.section3 #article3 {
  display: grid;
  grid-area: article3;
}
.section3 article {
  border-radius: 10px;
  box-shadow: 5px 15px 7px 5px rgb(0, 0, 0);
  color: black;
  border: black solid 5px;
  background-color: white;
}
.section3 article h2 {
  text-align: center;
}

h2 {
  margin: 0;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "roboto", sans-serif;
  font-weight: 500;
}

h2 {
  font-family: "roboto", sans-serif;
  font-weight: 500;
}

h3 {
  font-family: "roboto", sans-serif;
  font-weight: 500;
}

.tamaño50-logo {
  height: 50px;
  width: 50px;
}

.texto_gestoreate {
  color: lemonchiffon;
}

.text-title {
  font-size: 30px;
  color: lemonchiffon;
}

.flex {
  display: flex;
}

/*# sourceMappingURL=main.css.map */
