//inputs css

.input-css {
    padding: 4px;
    font-size: 16px;
    border-width: 2px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(66,66,66,.67);
    text-shadow: 0px 0px 6px rgba(66,66,66,.0);
}
.input-css:focus {
    outline:none;
}


//
.div-factura-ingreso{

}