header{
    background-image: url(../img/header/header3.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    // padding-left: 2rem;
    // padding-right: 5rem;
    grid-template-columns: 0.3fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "h-col1 h-col2 h-col3";
    height: 513px;
    color: white;
    padding-top: 50px;


   
    p{
        color: whitesmoke;
    }
    h1{
        color: lemonchiffon
    }
    

    .h-col1{
        display: grid;
        grid-area: h-col1;
        display: flex;
        justify-content: flex-start;
     //   height: 600px;


        img{
            width: 250x;
            height: 250px;
        }
    }
    .h-col2{
        display: grid;
        grid-area: h-col2;
       display: flex;
       justify-content: flex-start;
       padding-top: 3rem;
     //  height: 600px;
       align-items: flex-start;
       flex-direction: column;
      
    }
    .h-col3{
        display: grid;
        grid-area: h-col3;
    }
}
header div{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}