nav {
    margin: 0;

    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "logo link botones";
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;


    .botones-nav {
        background-color: #1414148c;
        border-radius: 2px;
        color: white;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5rem;

       

    }

    .botones-nav:hover {
        background-color: rgb(15, 15, 15);
        color: lemonchiffon;
        border: black solid 1px;
        transition: all 1s;

        p {
            color: rgb(134, 131, 131);
            transition: all 1s;
        }






    }


    //grid area navbar
    #nav {
        display: grid;
        grid-area: logo;
        display: flex;
        flex-direction: row;
    }

    #link {
        display: grid;
        grid-area: link;
        display: flex;
    }


    #botones {
        display: grid;
        grid-area: botones;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        div {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                width: 90%;
                height: 90%;
            }
        }
    }

    a {
        display: flex;
        text-decoration: none;
        color: lemonchiffon;
        font-family: "roboto", sans-serif;
        align-items: center;
        justify-content: center;

    }


    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;



    }

    li {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
}

//flexbox
nav div {

    width: 100%;
    height: 100%;

    img {
        margin: 7px;
    }



    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 4px;
        color: lemonchiffon;
    }
}