
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap');

  @import "_var";
  @import "_nav";
  @import "_header";
  @import "_mixins";
  @import "_footer";
  @import "_flex";
  @import "_responsive_movil";
 
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
  }
  body{

    font-family: "roboto", sans-serif;

    main{
     
      div{
        display: flex;
        justify-content: center;
        align-items: center;
      }
     }
    
  }
  h1{
    font-family: "roboto", sans-serif;
        font-weight: 500;
  }
  h2{
    font-family: "roboto", sans-serif;
        font-weight: 500;
  }
  h3{
    font-family: "roboto", sans-serif;
        font-weight: 500;
  }

 .tamaño50-logo{
  height: 50px;
  width: 50px;
 }